@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html {
  background-color: #00fff2;
}

  body {
   background-size:cover; 
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
    
.Navbar__Items {
    display:none;
  }
    
.Navbar__Items--right {
    margin-left:0;
  }
    
.Navbar__ToggleShow {
    display: flex;
  }
    
.Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   } 
}
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.navbar-blue {
    background-color: #00fff2;
}
#about{
  padding: 40px;
}
#experiences {
    padding: 40px;
}
#education{
  padding: 100px;
}

#skills{
  padding: 40px;
}

#interest{
  padding: 70px;
}

.about-detail {
    display: flex;
    flex-direction: row;
}
.about-description {
    position: relative;
    left:200px;
    padding: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
.title {
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin-bottom: 40px;
}
.bg-blue {
    background-color: #a6fffb;
}
.navbar {
    position: fixed;
    z-index: 99;
    width: 100%;
}
.carousel {
    padding-top: 40px;
}
.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

.bg-light-blue{
  background-color:#67fff7 ;
}

.bg2{
  background-color: whitesmoke;
}

.edu-body{
  display: flex;
  flex-direction: column;
  position: relative;
  top: -250px;
  left:320px;
  width:fit-content

}

.btn-primary{
  width: fit-content;
}

.processing {
  background-color: lightgray;
  height: 100px;
  width: 500px;
  border-radius: 20px;
}

.processing-bar {
  background: linear-gradient(to left, #ac0151, #f88080);
  height: 100%;
  width: 85%;
  opacity: 1;
  color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 3px -5px #70f2e7, 0 2px 5px #7088f2;
  transition: 1s ease;
}

.processing-bar2 {
  background: linear-gradient(to left, #1d6add, #b7bcff);
  height: 100%;
  width:70%;
  opacity: 1;
  color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 3px -5px #70f2e7, 0 2px 5px #7088f2;
  transition: 1s ease;
}

.processing-bar3 {
  background: linear-gradient(to left, #0ec991, #19da29);
  height: 100%;
  width:76%;
  opacity: 1;
  color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 3px -5px #70f2e7, 0 2px 5px #7088f2;
  transition: 1s ease;
}

.processing-bar4 {
  background: linear-gradient(to left, #ac0151, #f88080);
  height: 100%;
  width:80%;
  opacity: 1;
  color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 3px -5px #70f2e7, 0 2px 5px #7088f2;
  transition: 1s ease;
}

.paragraf{
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
}

.juara{
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}